<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/prove08.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/display.css" />
</head>
<body>
    <h1>PAGE: <%= page %></h1>
    <div class = "books-container">

        <% data.forEach(item => { %>
          <div>
            <img src="<%= item.imageUrl %>" alt="t" class="cardImg"> 
            <h3 class="title"><%=item.name %></h3>
            <p class="summary"><%= item.description %></p>
            <h>Price:</h><h><%=item.price %></h><br>
            
          </div>
          <% }) %>
      </div>
</body>
<section class="pagination">
    <%for (var i= 1; i <= numPages; i++) { %>
        <a href="/prove/prove08?page=<%= i %>"><%= i %></a>
        <% } %>
</section>
</html>