<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    <h1>PAGE: <%= page %></h1>
    <% for(var i=0; i<data.length; i++) {%>
          <% if(i % 3 == 0) { %>
            <div class="container">
          <% } %>
            <div class="card">
              <img src="<%= data[i].imageUrl %>" alt="t" class="cardImg">
              <div class="cardContainer">
                <h4><b><%= data[i].name %></b></h4>
                <h6><%= data[i].price %></h6>
                <p><%= data[i].description %></p>
              </div>
          <% if(i % 3 == 2) { %>
            </div>
          <% } %>
          </div>
        <% } %>
</body>
<section class="pagination">
    <%for (var i= 1; i <= numPages; i++) { %>
        <a href="/prove/prove08?page=<%= i %>"><%= i %></a>
        <% } %>
</section>
</html>